* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
          box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo span:first-child {
  font-size: 3rem;
}

.logo .badge {
  position: absolute;
  font-size: 1.3rem;
  background: #17a2b8 !important;
}

.guide {
  margin: 2rem auto;
  width: 65%;
  text-align: center;
}

.dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 65%;
  margin: 0 auto;
  position: relative;
}

.dropdowns .picked {
  font-size: 0.75rem;
}

.dropdowns .picked span {
  text-transform: lowercase;
}

.dropdowns ul {
  width: 100%;
}

.dropdowns:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 10%;
  height: 2px;
  background: #d1d1d1;
}

.dropdowns .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdowns .dropdown-item i {
  font-size: 1.2rem;
  line-height: 1.125;
}

.dropdowns .dropdown-item:hover {
  cursor: default;
}

.dropdowns .dropdown-toggle {
  padding-left: 3rem;
  padding-right: 3rem;
  color: #980ec5;
  border-color: #980ec5;
}

.dropdowns .dropdown-toggle:hover {
  background-color: #980ec5;
  border-color: #980ec5;
  color: #fff;
}

.dropdowns .dropdown-toggle.show {
  background-color: #980ec5;
  border-color: #980ec5;
  color: #fff;
}

.tasks_wrapping-wrapper {
  position: relative;
  width: 65%;
  border-radius: 10px;
  -webkit-box-shadow: rgba(17, 17, 26, 0.2) 0px 0px 16px;
          box-shadow: rgba(17, 17, 26, 0.2) 0px 0px 16px;
}

.tasks_wrapping-wrapper .tasks_wrapper {
  display: none;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
  padding: 1.8rem;
}

.tasks_wrapping-wrapper .button_wrapper,
.tasks_wrapping-wrapper .button_wrapper-reset {
  position: relative;
  display: none;
}

.tasks_wrapping-wrapper .done {
  display: none;
  font-size: 1.8rem;
  margin: 2rem;
  padding: 3.5rem 2rem;
  text-align: center;
}

.tasks_wrapping-wrapper .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.75rem 0;
  padding: 0.75rem;
  border-radius: 6px;
  border: 2px solid #7fb1bb;
}

.tasks_wrapping-wrapper .task .pattern {
  font-size: 1.3rem;
}

.tasks_wrapping-wrapper .task i {
  font-size: 1.5rem;
  margin: 0 0.2rem 0 -0.35rem;
}

.tasks_wrapping-wrapper .task .form-control {
  margin-left: 0.75rem;
  width: 40%;
}

.tasks_wrapping-wrapper .button_wrapper {
  position: relative;
}

.tasks_wrapping-wrapper button {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
}

.tasks_wrapping-wrapper button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 35%;
  border-bottom: 2px solid #d1d1d1;
}

.tasks_wrapping-wrapper button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 35%;
  border-bottom: 2px solid #d1d1d1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.faq {
  width: 65%;
}

.start,
.send,
.reset {
  width: 25%;
}

@media screen and (max-width: 1200px) {
  .dropdowns:after {
    display: none;
  }
}

@media screen and (max-width: 996px) {
  .dropdowns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dropdowns .dropdown:first-child {
    margin-bottom: 1rem;
  }
  .start,
  .send,
  .reset {
    width: 35%;
  }
  .start:before, .start:after,
  .send:before,
  .send:after,
  .reset:before,
  .reset:after {
    width: 30% !important;
  }
  .done {
    font-size: 1.4rem !important;
  }
  .tasks_wrapper {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

@media screen and (max-width: 450px) {
  .guide,
  .tasks_wrapping-wrapper,
  .faq {
    width: 100%;
  }
  .start,
  .send,
  .reset {
    width: 45%;
  }
  .start:before, .start:after,
  .send:before,
  .send:after,
  .reset:before,
  .reset:after {
    width: 25% !important;
  }
  .guide {
    margin: 2rem auto 1rem !important;
  }
  .done {
    font-size: 1rem !important;
  }
  .dropdown-toggle {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .tasks_wrapper {
    padding: 0.8rem !important;
  }
  .task .pattern {
    font-size: 1rem !important;
  }
  .faq .card-body {
    font-size: 0.8rem !important;
    padding: 0.5rem !important;
  }
}
/*# sourceMappingURL=style.css.map */