* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
          box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo span:first-child {
  font-size: 3rem;
}

.logo .badge {
  position: absolute;
  font-size: 1.3rem;
  background: #17a2b8 !important;
}

.guide {
  margin: 2rem auto;
}

.dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-item i {
  font-size: 1.2rem;
  line-height: 1.125;
}

.dropdown-item:hover {
  cursor: default;
}

.dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdowns .picked {
  font-size: 0.75rem;
}

.dropdowns .picked span {
  text-transform: lowercase;
}

.tasks_wrapping-wrapper {
  position: relative;
  width: 50%;
  border-radius: 16px;
  -webkit-box-shadow: rgba(17, 17, 26, 0.2) 0px 0px 16px;
          box-shadow: rgba(17, 17, 26, 0.2) 0px 0px 16px;
}

.tasks_wrapping-wrapper .tasks_wrapper {
  display: none;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.tasks_wrapping-wrapper .button_wrapper,
.tasks_wrapping-wrapper .button_wrapper-reset {
  position: relative;
  display: none;
}

.tasks_wrapping-wrapper .done {
  display: none;
  font-size: 1.8rem;
  margin: 2rem;
  padding: 3.5rem 2rem;
  text-align: center;
}

.tasks_wrapping-wrapper .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.75rem 0;
  padding: 0.75rem;
  border-radius: 6px;
  border: 2px solid #7fb1bb;
}

.tasks_wrapping-wrapper .task i {
  margin: 0 0.2rem 0 -0.35rem;
}

.tasks_wrapping-wrapper .task .form-control {
  margin-left: 0.75rem;
  width: 40%;
}

.tasks_wrapping-wrapper .button_wrapper {
  position: relative;
}

.tasks_wrapping-wrapper button {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
}

.tasks_wrapping-wrapper button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 35%;
  border-bottom: 2px solid #d1d1d1;
}

.tasks_wrapping-wrapper button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 35%;
  border-bottom: 2px solid #d1d1d1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */